
@{
    ViewData["Title"] = "Features";
    Layout = "~/Views/_Layout.cshtml";
}
@model Character

<h1>Features/Proficiencies</h1>

<table>
    <thead>
        <tr>
            <th>FEATURE NAME</th>
            <th>FEATURE DESCRIPTION</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Feature feature in @Model.Features.Features)
        {
            <tr>
                <th>@feature.featureName</th>
                <th>@feature.featureDescription</th>
            </tr>
        }
    </tbody>
</table>

<p></p>

<table>
    <thead>
        <tr>
            <th>PROFICIENCY</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (string proficiency in @Model.Proficiencies)
            {
                <tr>
                    <th>@proficiency</th>
                </tr>
            }
        }
    </tbody>
</table>

