
@{
    ViewData["Title"] = "Features";
    Layout = "~/Views/_Layout.cshtml";
}
@model Character

<h1>Features/Proficiencies</h1>



<table>
    <thead>
        <tr>
            <th>FEATURE NAME</th>
            <th>FEATURE DESCRIPTION</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Feature feature in @Model.Features.Features)
        {
        <tr>
            <th>@feature.featureName</th>
            <th>@feature.featureDescription</th>

            <th><a asp-action="UpdateFeature" asp-controller="UpdateCharacter" asp-route-Id="@feature.Id">Update Feature</a></th>
            <th>
                <form asp-action="DeleteFeature" asp-controller="UpdateCharacter" method="post">
                    <input type="hidden" name="Id" value="@feature.Id" />
                    <button class="btn" type="submit">Delete</button>
                </form>
            </th>
        </tr>
        }
    </tbody>
</table>

<p></p>

<table>
    <thead>
        <tr>
            <th>PROFICIENCY</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (string proficiency in @Model.Proficiencies)
            {
                <tr>
                    <th>@proficiency</th>
                    <th>
                        <form asp-action="DeleteProficiency" asp-controller="UpdateCharacter" method="post">
                            <input type="hidden" name="proficiency" value="@proficiency" />
                            <button class="btn" type="submit">Delete</button>
                        </form>
                    </th>
                </tr>
            }
        }
    </tbody>
</table>

