
@{
    ViewData["Title"] = "Inventory";
    Layout = "~/Views/_Layout.cshtml";
}
@model Character

<h1>Inventory</h1>

<table>
    <thead>
        <tr>
            <th>Currency</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Copper</th>
            <th>@Model.CharWallet.copper</th>
        </tr>
        <tr>
            <th>Silver</th>
            <th>@Model.CharWallet.silver</th>
        </tr>
        <tr>
            <th>Gold</th>
            <th>@Model.CharWallet.gold</th>
        </tr>
        <tr>
            <th>Electrum</th>
            <th>@Model.CharWallet.electrum</th>
        </tr>
        <tr>
            <th>Platinum</th>
            <th>@Model.CharWallet.platinum</th>
        </tr>
    </tbody>
</table>

<p></p>

<table>
    <thead>
        <tr>
            <th>Amount</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Item item in @Model.CharInventory.items)
            {
                <tr>
                    <th>@item.itemAmount</th>
                    <th>@item.itemName </th>
                    <th>@item.itemDescription</th>
                    <th><a class="btn" asp-action="UpdateItem" asp-route-resID="@item.Id">Update</a></th>
                    <th>
                        <form asp-action="DeleteItem" method="post">
                            <input type="hidden" name="resID" value="@item.Id" />
                            <button class="btn" type="submit">Delete</button>
                        </form>
                    </th>
                </tr>
            }
        }
    </tbody>
</table>

<p></p>

<table>
    <thead>
        <tr>
            <th>Weapon Name</th>
            <th>Description</th>
            <th>Modifier</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Weapon item in @Model.CharInventory.weapons)
            {
                <tr>
                    <th>@item.weaponName</th>
                    <th>@item.weaponDescription </th>
                    <th>@item.weaponMod</th>
                    <th><a class="btn" asp-action="UpdateWeapon" asp-route-resID="@item.Id">Update</a></th>
                    <th>
                        <form asp-action="DeleteWeapon" method="post">
                            <input type="hidden" name="resID" value="@item.Id" />
                            <button class="btn" type="submit">Delete</button>
                        </form>
                    </th>
                </tr>
            }
        }
    </tbody>
</table>
