
@{
    ViewData["Title"] = "Spells";
    Layout = "~/Views/_Layout.cshtml";
}
@model Character

<h1>Spells</h1>

<table>
    <thead>
        <tr>
            <th>SPELL NAME</th>
            <th>SPELL DESCRIPTION</th>
            <th>SPELL LEVEL</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Spell spell in @Model.Spells.Spells)
            {
                <tr>
                    <th>@spell.SpellName</th>
                    <th>@spell.SpellDescription</th>
                    <th>@spell.SpellLevel</th>
                    <th><a class="btn" asp-action="UpdateSpell" asp-controller="UpdateCharacter" asp-route-Id="@spell.Id">Update</a></th>
                    <th>
                        <form asp-action="DeleteSpell" method="post">
                            <input type="hidden" name="Id" value="@spell.Id" />
                            <button class="btn" type="submit">Delete</button>
                        </form>
                    </th>
                </tr>
            }
        }
    </tbody>
</table>
