
@{
    ViewData["Title"] = "Features";
    Layout = "~/Views/_Layout.cshtml";
}
@model Character

<h1>Features/Proficiencies</h1>


@foreach(Feature feature in Model.Features.Features)
{
    <form method="post">
        <table>
            <thead>
                <tr>
                    <th><label asp-for="@feature.featureName">Feature Name</label></th>
                    <th><label asp-for="@feature.featureDescription">Feature Description</label></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th><input asp-for="@feature.featureName" /></th>
                    <th><input asp-for="@feature.featureDescription" /></th>
                </tr>
            </tbody>
        </table>
        <p><button asp-route-Id="@feature.Id" type="submit">Update</button></p>
    </form>
}

@{
    foreach (string proficiency in @Model.Proficiencies)
    {
        <form method="post">
            <table>
                <thead>
                    <tr>
                        <th><label asp-for="@proficiency">Proficiency Name</label></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><input asp-for="@proficiency" /></th>
                    </tr>
                </tbody>
            </table>
            <p><button type="submit">Update</button></p>
        </form>
    }
}

