
@{
    ViewData["Title"] = "Update Weapon";
    Layout = "~/Views/_Layout.cshtml";
}
@model Weapon

<h1>Update Weapon</h1>
<form method="post">
    @*Weapon*@
    <table>
        <thead>
            <tr>
                <th><label asp-for="weaponName">Weapon Name:</label></th>
                <th><label asp-for="weaponDescription">Weapon Description:</label></th>
                <th><label asp-for="weaponMod">Weapon Modifier:</label></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><input asp-for="weaponName" /></th>
                <th><input asp-for="weaponDescription" /></th>
                <th>
                    <select asp-for="weaponMod">
                        <option value="@eWeaponMod.STRENGTH">Strength</option>
                        <option value="@eWeaponMod.DEXTERITY">Dexterity</option>
                        <option value="@eWeaponMod.CONSTITUTION">Constitution</option>
                        <option value="@eWeaponMod.INTELLIGENCE">Intelligence</option>
                        <option value="@eWeaponMod.WISDOM">Wisdom</option>
                        <option value="@eWeaponMod.CHARISMA">Charisma</option>
                    </select>
                </th>
            </tr>
        </tbody>
    </table>

    <p><button type="submit">Update Weapon</button></p>
</form>
