
@{
    ViewData["Title"] = "CharacterInfo";
    Layout = "~/Views/_Layout.cshtml";
}

@model Character
<h1>Character Info Page</h1>

@*DIRECT CHARACTER INFO TABLE*@
<form method="post">
    <table>
        <thead>
            <tr>
                <th> <label asp-for="CharInfo.CharName">    CHARACTER NAME     </label> </th>
                <th> <label asp-for="CharInfo.Class">       CHARACTER RACE     </label> </th>
                <th> <label asp-for="CharInfo.Race">        CHARACTER CLASS    </label> </th>
                <th> <label asp-for="CharInfo.Alignment">   ALIGNMENT          </label> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th> <input asp-for="CharInfo.CharName" /> </th>
                <th> <input asp-for="CharInfo.Class" /> </th>
                <th> <input asp-for="CharInfo.Race" /> </th>
                <th> <input asp-for="CharInfo.Alignment" /> </th>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th> <label asp-for="CharInfo.PlayerName">  PLAYERNAME         </label> </th>
                <th> <label asp-for="CharInfo.Level">       CHARACTER LEVEL    </label> </th>
                <th> <label asp-for="CharInfo.CurrentEXP">  EXPERIENCE CURRENT </label> </th>
                <th> <label asp-for="CharInfo.GoalEXP">     EXPERIENCE GOAL    </label> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th> <input asp-for="CharInfo.PlayerName" /> </th>
                <th> <input asp-for="CharInfo.Level" /> </th>
                <th> <input asp-for="CharInfo.CurrentEXP" /> </th>
                <th> <input asp-for="CharInfo.GoalEXP" /> </th>
            </tr>
        </tbody>
    </table>

    <p></p>

    @*CHARACTER BACKGROUND TABLE*@
    <table>
        <thead>
            <tr>
                <th> <label asp-for="CharInfo.Background">BACKGROUND</label> </th>
                <th> <label asp-for="CharInfo.BackgroundInfo[0]">PERSONALITY TRAITS</label> </th>
                <th> <label asp-for="CharInfo.BackgroundInfo[1]">IDEALS</label> </th>
                <th> <label asp-for="CharInfo.BackgroundInfo[2]">BONDS</label> </th>
                <th> <label asp-for="CharInfo.BackgroundInfo[3]">FLAWS</label> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th> <input asp-for="CharInfo.Background" /> </th>
                <th> <input asp-for="CharInfo.BackgroundInfo[0]" /> </th>
                <th> <input asp-for="CharInfo.BackgroundInfo[1]" /> </th>
                <th> <input asp-for="CharInfo.BackgroundInfo[2]" /> </th>
                <th> <input asp-for="CharInfo.BackgroundInfo[3]" /> </th>
            </tr>
        </tbody>
    </table>

    <p></p>

    @*CHARACTER CORE STATS TABLE*@
    <table>

        <thead>
            <tr>
                <th> <label asp-for="CharStats.Strength">STRENGTH</label> </th>
                <th> <label asp-for="CharStats.StrengthMod">STRENGTH MODIFIER</label> </th>
                <th> <label asp-for="CharStats.Dexterity">DEXTERITY</label> </th>
                <th> <label asp-for="CharStats.DexterityMod">DEXTERITY MODIFIER</label> </th>
                <th> <label asp-for="CharStats.Constitution">CONSTITUTION</label> </th>
                <th> <label asp-for="CharStats.ConstitutionMod">CONSTITUTION MODIFIER</label> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th> <input asp-for="CharStats.Strength" /> </th>
                <th> <input asp-for="CharStats.StrengthMod" /> </th>
                <th> <input asp-for="CharStats.Dexterity" /> </th>
                <th> <input asp-for="CharStats.DexterityMod" /> </th>
                <th> <input asp-for="CharStats.Constitution" /> </th>
                <th> <input asp-for="CharStats.ConstitutionMod" /> </th>
            </tr>
        </tbody>

    </table>

    <table>
        <thead>
            <tr>
                <th> <label asp-for="CharStats.Intelligence">INTELLIGENCE</label> </th>
                <th> <label asp-for="CharStats.IntelligenceMod">INTELLIGENCE MODIFER</label> </th>
                <th> <label asp-for="CharStats.Wisdom">WISDOM</label></th>
                <th> <label asp-for="CharStats.WisdomMod">WISDOM MODIFIER</label> </th>
                <th> <label asp-for="CharStats.Charisma">CHARISMA</label> </th>
                <th> <label asp-for="CharStats.CharismaMod">CHARISMA MODIFIER</label> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th> <input asp-for="CharStats.Intelligence" /> </th>
                <th> <input asp-for="CharStats.IntelligenceMod" /> </th>
                <th> <input asp-for="CharStats.Wisdom" /> </th>
                <th> <input asp-for="CharStats.WisdomMod" /> </th>
                <th> <input asp-for="CharStats.Charisma" /> </th>
                <th> <input asp-for="CharStats.CharismaMod" /> </th>
            </tr>
        </tbody>
    </table>

    <p></p>

    @*COMBAT STATS*@
    <table>
        <thead>
            <tr>
                <th> <label asp-for="CharStats.ArmorClass">ARMOR CLASS</label> </th>
                <th> <label asp-for="CharStats.Initiative">INITIATIVE</label> </th>
                <th> <label asp-for="CharStats.Speed">SPEED</label> </th>
                <th> <label asp-for="CharStats.Inspiration">INSPIRATION</label> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th> <input asp-for="CharStats.ArmorClass" /> </th>
                <th> <input asp-for="CharStats.Initiative" /> </th>
                <th> <input asp-for="CharStats.Speed" /> </th>
                <th> <input asp-for="CharStats.Inspiration" /> </th>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th> <label asp-for="CharStats.MaxHP">MAX HEALTH</label> </th>
                <th> <label asp-for="CharStats.CurrentHP">CURRENT HEALTH</label> </th>
                <th> <label asp-for="CharStats.TempHP">TEMPORARY HEALTH</label> </th>
                <th> <label asp-for="CharStats.HitDie">HIT DICE</label> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th> <input asp-for="CharStats.MaxHP" /> </th>
                <th> <input asp-for="CharStats.CurrentHP" /> </th>
                <th> <input asp-for="CharStats.TempHP" /> </th>
                <th>
                    <select asp-for="CharStats.HitDie">
                        <option value="@eHitDice.D4">D4</option>
                        <option value="@eHitDice.D6">D6</option>
                        <option value="@eHitDice.D8">D8</option>
                        <option value="@eHitDice.D10">D10</option>
                        <option value="@eHitDice.D100">D100</option>
                        <option value="@eHitDice.D12">D12</option>
                        <option value="@eHitDice.D20">D20</option>
                    </select>
                </th>

            </tr>
        </tbody>
    </table>

    <p><button type="submit">Save Changes</button></p>
</form>




